@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&display=swap');

 /**{
    margin-right: 153px;
    margin-left:153px ;
} */

/*essential fonts and colors*/
.heading-font{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
}

.btn-regular{
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;

}

.btn:hover,.first-btn:hover, .second-btn:hover, .third-btn:hover, .regular-btn:hover{
    background-color: #f8fbfa;
    font-family: "Fira Sans", serif;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    color: #006a50;
}

.main-heading{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 38px;
}

.card-heading{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    opacity: 80%;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 30px;
}

.card-description{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 15px;
}

/*navigation bar design*/

.navigation-header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1360px;
    height: 112px;
}


.navigation{
    padding-left: 150px;
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 22px;
}

.btn-nav{
    background-color: #F5F5F5;
    border-radius: 8px;
    color: #006A50;
    border-color: #006A50;
    font-family: "Fira Sans", serif;
    height: 49px;
    width: 111px;
    text-align: center;
}
.btn-nav:hover{
    background-color: #006a50;
    font-family: "Fira Sans", serif;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    color: hsl(0, 0%, 98%);
}


/*Main banner*/

.banner{
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 76px;
}
.banner-bd{
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1228px;
    height: 537px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.explanation{
    width: 598px;
    height: 313px;
}

.explanation-pic{
    width: 456px;
    height: 384px;
    float: right;

}

.exp-para{
    opacity: 50%;
    font-weight: 550;
    margin-bottom: 15px;
}

.banner-header{
    font-weight: bold;
    font-size: 54.5px;
    margin-bottom: 23px;
}

.btn-banner{
    font-family: "Fira Sans", serif;
    width: 260px;
    height: 53px;
}

/*Pillars of BD*/

.pillars-of-bd{
    width: 1228px;
    height: 537px; 
}

.pillars{
    display: flex;
    justify-content: space-evenly;
    gap: 23px;
    /*margin: 30px 0px;*/
    margin: 30px 0px;
}

.pillars-card{
    width: 289px;
    height: 234px;
    padding:23px 23px;
    background-color: #dfdcdc;
    border-style: inherit;
    border-radius: 15px;
}

/*Visions-Of-BD*/


.visions-of-bd{
    width: 1228px;
    height: 734px; 
}

.vision-cards{
    width: 394px;
    height: 312px;
    padding:23px 23px;
    border-radius: 15px;

}

.first-card{
    background-color: #c6d7f5;
    opacity: 100%;
}

.second-card{
    background-color: #C6E4D6;
    opacity: 100%;
}

.third-card{
    background-color: #F7EBCF;
    opacity: 100%;
}

.fixed-gap{
    height: 158px;
    width: 332px;
}

.vision-btn{
    border-radius: 8px;
    height: 39px;
    width: 117px;
    font-family: "Fira Sans", serif;
    text-align: center;
    color: #FFFFFF; 
    border-style: none;
}

.first-btn{
    background-color: #5490F5;
}


.second-btn{
    background-color: #09A15C;
}

.third-btn{
    background-color: #FFC239;
}



/* Quotation one*/

.quote{
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 23px;
    padding-right: 23px;
    height: 150px;
    background-color:hsla(0, 0%, 72%, 0.158);
    border-color: #0E0E0E;
    border-radius: 8px;
    margin-bottom: 76px;
}

.quote-img{
    position: absolute;
    float: left;
}

.quote-yunus{

    font-family: "Fira Sans", serif;
    font-size: 15px;
    opacity: 80%;
    padding-bottom: 11px;
}

.name-yunus{
    font-family: "Fira Sans", serif;
    font-weight: 490;
    font-size: 19px;
}

.job-yunus{
    font-family: "Fira Sans", serif;
    font-size: 15px;
    opacity: 60%;
}

/* Questions*/

.questions{
    width: 1228px;
    height: 461px; 
}

.questions-are{
    width: 1228px;
    height: 340px; 
    background-color:hsla(0, 0%, 72%, 0.158);
    padding: 23px;
}

table{
    text-align: left;
    border: 1px solid hsl(0, 1,5,15%);
    font-family: "Fira Sans", serif;
}

.header-of-table{
    padding: 23px 23px;
    height: 69px;
    color: #0E0E0E;
    font-size: 19px;
    font-weight: 490;
    background-color: #C6E4D6;
    border-collapse: collapse;
}

.normal-rows{
    height: 88px;
    background-color: #ffffff;
    border: 1px solid hsl(0, 1,5,15%);
    font-size: 15px;
}

.col-1{
    width: 976px;
    padding: 23px 23px;
    font-weight: 490;
}

.col-2{
    width: 192px;
    padding: 23px 23px;
}

#options{
    padding: 9px 13px;
    background-color: #C6E4D6;
    font-family: "Fira Sans", serif;
    font-size: 15px;
    font-weight: 450;
}

#options:hover{
    background-color: #76be9d;
    color: #FFFFFF;
}

/*News*/

.news-banner{
    width: 1228px;
    height: 1450px;
}

.news-final{
    width: 714px;
    height: 350px;
}

.news-left{
    height: 330px;
    background-color: #dfdcdc4a;
    padding: 46px 46px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 23px;
    
}

.news-right{
    height: 330px;
    background-color: #dfdcdc4a;
    padding: 46px 46px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 23px;
}


.news-heading{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    opacity: 80%;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 11px;
}

.description-news{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 12px;
}

.regular-btn{
    width: 133px;
    height: 46px;
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
}

.regular-btn:hover{
    background-color: #FFFFFF;
    color: #006A50;
    border: 3px solid #006A50;
    border-radius: 8px;
}

.news-img-all{
    height: 293px;
    width: 391px;
    border-radius: 23px;
}

.news-img-icon{
    height: 38px;
    width: 128px;
}

.date-time{
    display: inline-flex;
    gap: 11px;
}

/*Donation*/

.donation{
    width: 1228px;
    height: 550px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.amount{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}

.donation-amount{
    width: 253px;
    height: 122px; 
    text-align: center;
    background-color: #dfdcdc4a;
    padding-top: 61px;
    border-style: none;
    border-radius: 15px;
}

.donation-amount:hover{

    background-color: #C6E4D6;
    padding-top: 61px;
    border-style: none;
    border-radius: 15px;
}

.write-amount{
    width: 990px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    color: #0E0E0E;
    opacity: 30%;
}

.other-section{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Footer*/

.contact{
    width: 1228px;
    height: 379px; 
    background-color: #C6E4D6;
    border-radius: 23px;
    display: flex;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 30px;
    
}

.main-footer{
    width: 720px;
    height: 225px; 
}

.text-div{
    gap: 15px;
    text-align: center;
}

.drop-name{
    padding: 23px 23px;
    display: inline-flex;
    gap: 0px;
}


.write-name{
    width: 580px;
    height: 50px;
    padding-left: 30px;
    border-style: none;
    border-bottom-left-radius:8px;
    border-top-left-radius: 8px;
}


.btn-last{
    width: 140px;
    height: 52px;
    background-color: #006A50;
    font-family: "Fira Sans", serif;
    border-style: none;
    border-bottom-right-radius:8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: #FFFFFF;
}

.btn-last:hover{
    background-color: #ffffff;    
    color: #006A50;
    border: 3px solid #006A50;
    border-bottom-right-radius:8px;
    border-top-right-radius: 8px;
}

.promise{
    text-align: center;
}